# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Data (Optional: keep if you want them on GitHub, but usually excluded)
# data/*.csv

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
